{% extends "MyApp1/index.html" %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>This is homepage</title>
</head>
<body>
    <strong>Teachers</strong>

    {% if content %}
    <p> {{ content }} </p>
    <table>
        <tr>
            <th> Name </th>
            <th>Teaching Area</th>
        </tr>
        {% for teach in content%}
        <tr>
            <td>{{teach.Name}}</td>
            <td>{{teach.Area}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <strong>No data!!</strong>
    {% endif %}
</body>
</html>